<template>
    <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.units }}</td>
            <td>{{ product.price }}</td>
            <td>{{ (product.units*product.price) | currency }}</td>
            <td>
                <button 
                    @click="increaseUnits" 
                    class="mdc-icon-button material-icons">expand_less</button>
                <button 
                    @click="decreaseUnits" 
                    :disabled="product.units<=0" 
                    class="mdc-icon-button material-icons">expand_more</button>
                <button @click="delProduct" class="mdc-icon-button material-icons">delete</button>
                <button  @click="editProduct" class="mdc-icon-button material-icons">edit</button>
                <button  @click="$bvModal.show('modal-'+product.id)" class="mdc-icon-button material-icons">visibility</button>
                <b-modal :id="'modal-'+product.id" title="Detalles del producto">
                    <p>Id: {{ product.id }}</p>
                    <p>Nombre: {{ product.name }}</p>
                    <p>Unidades: {{ product.units }}</p>
                    <p>Precio/u: {{ product.price }}</p>
                    <p>Importe total: {{ (product.units*product.price) | currency }}</p>
                </b-modal>
            </td>
        </tr>
</template>

<script>
export default {
    name: 'product-item',
    props: ['product'],
    methods: {
        editProduct() {
            this.$router.push('/edit/'+this.product.id);
        },
        delProduct() {
            if (confirm('¿Deseas eliminar el producto "'+this.product.name+'" con id '+this.product.id+'?')) {
                if (this.product.units) {
                    if (!confirm('El producto tiene '+this.product.units+' unidades. ¿Seguro que deseas eliminarlo?')) {
                        return;
                    }
                }
                this.$store.dispatch('delProduct', this.product.id);
            }
        },
        increaseUnits() {
            let prodChanged=Object.assign({}, this.product);
            prodChanged.units++;
            this.$store.dispatch('updateProduct', prodChanged);
        },
        decreaseUnits() {
            let prodChanged=Object.assign({}, this.product);
            prodChanged.units--;
            this.$store.dispatch('updateProduct', prodChanged);
        },
    }
}
</script>

<style lang="scss" scoped>
  $material-icons-font-path: '~material-icons/iconfont/';
  @import '~material-icons/iconfont/material-icons.scss';
</style>