<template>
    <ValidationObserver v-slot="{ handleSubmit }">
        <form @submit.prevent="handleSubmit(addProduct)" novalidate>
            <fieldset>
                <legend>{{ editing?'Modificar':'Nuevo' }} producto</legend>
                <!-- Aquí los inputs y botones del form -->
                <div class="form-group" v-if="editing">
                    <label for="new-name">Id:</label>
                    <input type="text" class="form-control" v-model="newProduct.id" readonly>
                </div>
                <div class="form-group">
                    <label for="new-name">Nombre:</label>
                    <ValidationProvider v-slot="{ errors }" rules="required|max:5" name="nombre">
                        <input type="text" class="form-control" v-model="newProduct.name">
                        <span class="error">{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
                <div class="form-group" v-if="editing">
                    <label for="new-name">Unidades:</label>
                    <ValidationProvider v-slot="{ errors }" rules="required|positivo" name="unidades">
                        <input type="text" class="form-control" v-model="newProduct.units">
                        <span class="error">{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
                <div class="form-group">
                    <label for="new-price">Precio/u.:</label>
                    <ValidationProvider v-slot="{ errors }" rules="required|positivo" name="precio">
                        <input type="number" class="form-control" min="0" step="0.01" v-model="newProduct.price">
                        <span class="error">{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
                <button type="submit" class="btn btn-default btn-primary">{{ editing?'Modificar':'Añadir' }}</button>
                <button type="button" @click="init" class="btn btn-danger">Reset</button>
            </fieldset>
        </form>
    </ValidationObserver>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate';
import { required, max } from 'vee-validate/dist/rules';

extend('required', {
  ...required,
  message: 'El campo "{_field_}" es obligatorio'
});

extend('max', {
  ...max,
//  params: ['longitud'],
  message: 'El nombre del producto no puede exceder de 50 caracteres'
});

extend('positivo', {
    validate: value => {
      return value >= 0;
    },
    message: 'El campo "{_field_}" debe ser positivo y el valor "{_value_}" no lo es'
});

export default {
    name: 'product-new',
    components: {
        ValidationProvider,
        ValidationObserver,
    },
    data: ()=>({
        newProduct: {
            units: 0
        },
        editing: false
    }),
    props: ['id'],
    mounted() {
        this.init();
    },
    computed: {
        initProduct() {
            return this.$store.getters.getProductById(this.id);
        }
    },
    watch: {
        $route() {
            this.init();
        }
    },
    methods: {
        init() {
            if (this.id) {
                this.editing=true;
                this.newProduct=Object.assign({},this.initProduct);
            } else {
                this.editing=false;
                this.newProduct={ units: 0 };
            }
        },
        addProduct() {
            if (this.editing) {
                this.$store.dispatch('updateProduct', this.newProduct)
                .then(()=>this.$router.push('/products'))
                .catch(err => console.error(err))
            } else {
                this.$store.dispatch('addProduct', this.newProduct)
                .then(()=>this.$router.push('/products'))
                .catch(err => console.error(err))
            }
        },
    }

}
</script>

<style scoped>
    span.error {
        color: red
    }
</style>