<template>
    <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table table-striped table-hover">
                <thead class="thead-dark bg-primary">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Uds.</th>
                        <th>Precio/u</th>
                        <th>Importe</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí insertaremos los productos-->
                    <tr is="product-item" 
                        v-for="product in products" :key="product.id" 
                        :product="product"
                    >
                    </tr>
                </tbody>
            </table>
            <p class="lead float-right">Importe total del almacén: <strong>{{ totalImport | currency }}</strong></p>
        </div>
</template>

<script>
import ProductItem from './ProductItem.vue'

export default {
    name: 'products-table',
    components: {
        ProductItem,
    },
    mounted() {
        if (!this.loaded) this.$store.dispatch('getProducts');
    },
    computed: {
        products() {
            return this.$store.state.products;
        },
        totalImport() {
            return this.products.reduce((total,prod)=>total+prod.units*prod.price,0);
        },
        loaded() {
            return this.$store.state.loaded;
        }
    },
}
</script>