<template>
    <div class="container">
        <header>
            <h1>Almacén central Vue - ACME SL</h1>
        </header>

        <!-- Menú -->
        <div>
          <b-nav>
            <b-nav-item><router-link to="/">Home</router-link></b-nav-item>
            <b-nav-item><router-link to="/products">Productos</router-link></b-nav-item>
            <b-nav-item><router-link to="/new">Añadir producto</router-link></b-nav-item>
            <b-nav-item><router-link to="/about">Acerca de...</router-link></b-nav-item>
          </b-nav>
        </div>

        <!-- Almacén de productos -->
        <div class="row">
            <router-view></router-view>
        </div>
      <footer><small>Diseño Web en Entorno Cliente - Juan Segura</small></footer>
    </div>
</template>

<script>
export default {
  name: 'app',
    beforeRouteUpdate(to, from, next) {
        alert('cambia '+to+' desde '+from);
        next();
    },

}
</script>
